<aside class="sidebar">

  <div class="logo">
    <h1>TURBO</h1>
    <span>MECHANICS</span>
  </div>

  <div class="menu-title">
    MECÁNICO
  </div>

  <nav>

    <a class="active">
       Dashboard
    </a>

    <a> Órdenes</a>

    <a> Vehículos</a>

    <a> Reparaciones</a>

    <a> Clientes</a>

    <a> Historial</a>

    <a> Inventario</a>

    <a> Reportes</a>

    <a> Configuración</a>

  </nav>

  <div class="profile">

    <div class="avatar">
      
    </div>

    <div>
      <strong>Mecánico</strong>
      <p>Taller Central</p>
    </div>

  </div>

</aside>
