.sidebar {
  width: 260px;
  height: 100vh;
  background: #111827;
  color: white;
  padding: 2rem 1rem;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar{
  width:280px;
  height:100vh;
  background:#070707;
  border-right:1px solid rgba(255,255,255,.08);
  position:fixed;
  left:0;
  top:0;
  display:flex;
  flex-direction:column;
  padding:2rem 1rem;
}

.logo{
  margin-bottom:3rem;

  h1{
    color:#ff6b00;
    margin:0;
    font-size:2rem;
    font-weight:800;
  }

  span{
    color:white;
    letter-spacing:4px;
    font-size:.8rem;
  }
}

.menu-title{
  color:#777;
  margin-bottom:1rem;
  font-size:.9rem;
}

nav{
  display:flex;
  flex-direction:column;
  gap:.7rem;
}

nav a{
  padding:1rem;
  border-radius:14px;
  color:#d1d5db;
  text-decoration:none;
  cursor:pointer;
  transition:.3s;
  border:1px solid transparent;
}

nav a:hover{
  background:#111;
}

nav a.active{
  background:rgba(255,107,0,.1);
  border:1px solid rgba(255,107,0,.4);
  color:#ff6b00;
}

.profile{
  margin-top:auto;
  display:flex;
  align-items:center;
  gap:1rem;
  border-top:1px solid rgba(255,255,255,.08);
  padding-top:1rem;
}

.avatar{
  width:50px;
  height:50px;
  border-radius:50%;
  background:#111;
  display:flex;
  align-items:center;
  justify-content:center;
  border:2px solid #ff6b00;
}

.profile p{
  margin:0;
  color:#777;
}